AUTH_DB_NAME=auth_db
AUTH_DB_USER=postgres
AUTH_DB_PASS=12345

ORG_DB_NAME=org_db
ORG_DB_USER=postgres
ORG_DB_PASS=12345

TASKS_DB_NAME=tasks_db
TASKS_DB_USER=postgres
TASKS_DB_PASS=12345

KAFKA_HOST_PORT=9092
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk