DB_HOST=localhost
DB_PORT=5434
DB_NAME=tasks_db
DB_USER=postgres
DB_PASS=12345

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=tasks-events
KAFKA_CONSUMER_TOPIC=auth-events
KAFKA_CONSUMER_GROUP=tasks-service
KAFKA_SAGA_COMMANDS_TOPIC=saga-commands
KAFKA_SAGA_REPLIES_TOPIC=saga-replies

JWT_SECRET=super-secret-key-for-learning-project-only
JWT_ALGORITHM=HS256

PRODUCER_NAME=tasks-service
CONSUMER_NAME=tasks-service