DB_HOST=localhost
DB_PORT=5432
DB_NAME=auth_db
DB_USER=postgres
DB_PASS=12345

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=auth-events
KAFKA_SAGA_COMMANDS_TOPIC=saga-commands
KAFKA_SAGA_REPLIES_TOPIC=saga-replies

JWT_SECRET=super-secret-key-for-learning-project-only
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM=noreply@company-system.local
APP_BASE_URL=http://localhost:8000

PRODUCER_NAME=auth-service